table{
    border-collapse: collapse;
    
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

td.horasC{
    background-color: 	#8a3252;
    color: white;
}

td:empty{
    background-color: rgb(54, 54, 154);
}


th{
    background-color: rgb(38, 91, 188);
    color: white
}

td.pMat {
    background-color: #a52453;
    color: white;
}